body {
  font-family: "Computer Modern Serif";
}

.jumbotron {
  padding-top: 20px;
  padding-bottom: 20px;
}

#instructions {
  text-decoration: none;
  color: blue;
  margin-left: 700px;
  margin-top: 20px;
  margin-bottom: 200px
}

#tables_vanhat, #tables_alataulut{
  padding-right: 100px;
}

#tables_alataulut, #tables_uudet {
  vertical-align: top;
}

#table_selection label {
    margin-bottom: -5px;
}

#table {
  text-align: left;
  white-space: nowrap;
  font-size: 17px;
}

#table th {
  resize: horizontal;
  overflow: auto;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  border-collapse: separate;border-spacing: 0px;
  border: 1.0001px solid black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 8px;
}

#table td {
  border: 1px solid black;
  padding: 8px;
  /* font-family: "Computer Modern Serif", "Trebuchet MS", Arial, Helvetica, sans-serif; */ 
}

#table tr:nth-child(even) {
  background-color: #f2f2f2;
}

input[type="button"]:not(#show_table):not(#addRow):not(#deleteRow) {
  visibility: hidden;
}

.marked {
  background-color: yellow;
}

.modal {
    overflow: scroll;
} 

.hidden {
  display: none;
}